
<% unless job.expired? %>
  <h1> <%= link_to job.title, job %> </h1>
  <p>
    <% if job.featured? %>
      <strong> Destaque </strong><br>
    <% end %>
    <%= job.category.name %><br>
    <%= job.company.name %><br>
    <%= job.location %><br>
  </p>
<% end %>
