<aside>
  <% @companies.each do |company| %>
    <h1> <%= link_to company.name, company %></h1>
  <% end %>
</aside>
<section id = "jobs">
  <%= render partial: 'jobs/job',
            collection: @jobs %>
</section>
