<div class = "row">
  <div class="col-md-9">
    <section id="jobs">
      <div class="row">
        <% @jobs.each do |job| %>
          <div class="col-md-6">
            <%= render job %>
          </div>
        <% end %>
      </div>
    </section>
  </div>
  <div class = "col-md-3">
    <aside>
      <h1> Empresas </h1>
      <% @companies.each do |company| %>
        <%= link_to company.name, company %><p>
      <% end %>
      <br>
      <h1> Categorias </h1>
      <% @categories.each do |category| %>
        <%= link_to category.name, category %><p>
      <% end %>
    </aside>
  </div>
</div>
