<% if @category.errors.any? %>
  Nome da categoria está em branco
<% end %>
<section>
  <%= simple_form_for @category do |f| %>
    <div>
      <%= f.input :name, label: 'Nome' %>
    </div>
    <div>
      <%= f.submit 'Criar Categoria' %>
    </div>
  <% end %>
</section>
