<div class="row">
  <section class="category">
    <div class="col-md-10">
      <h1> <%= @category.name %> </h1>
    </div>
  </section>
  <aside id="jobs">
    <div class = "col-md-2">
      <div class="row">
        <% if @category.jobs.empty? %>
          <strong> Nenhuma vaga disponível </strong>
        <% end %>
        <% @category.jobs.each do |job| %>
            <%= render job %>
        <%end%>
      </div>
    </div>
  </aside>

</div>
